@import "../node_modules/normalize-scss/sass/normalize/import-now";

iframe {
  z-index: 5;
}

.bg-columns,
.bg-triangle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.bg-columns {
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 50%;
  }

  &:before {
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
  }

  &:after {
    background-color: rgba(255, 255, 255, 1);
    right: 0;
  }
}

.bg-triangle {
  width: 0px;
  height: 0px;
  border-left: 430px solid transparent;
  border-right: 430px solid transparent;
  border-top: 100vh solid #000;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.content-wrapper {
  margin: 30px auto;
  position: relative;
  z-index: 3;
  color: white;
  font-family: "Roboto", "Lucida Grande", Tahoma, Sans-Serif;
}

.flex {
  display: flex !important;
}

.align-items-center {
  align-items: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}
